{% extends "layout.html" %}
{% block content %}
    <h1>Trading Live Active User Stats</h1>

    <div id="outer" class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        Number of Active Users
                    </div>
                    <div id="chart-users"></div>
                </div>
            </div>

            <div class="col-sm-8">
                <div class="chart-wrapper">
                    <div class="chart-title">
                        List Of Users
                    </div>
                    <table class="table table-hover" id="dc-table-graph">
                        <thead>
                            <tr class="header">
                                <th>First Name</th>
                                <th>Second Name</th>
                                <th>Membership Name</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>

<script src="{{ url_for ('static', filename='lib/js/jquery.min.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/crossfilter.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/d3.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/dc.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/queue.js')}}"></script>
<script src="{{ url_for ('static', filename='lib/js/keen.min.js')}}"></script>
<script src="{{ url_for ('static', filename='js/graph.js')}}"></script>

{% endblock %}


